h1.header {
  margin: 0;
  font-family: 'Circular-Bold', sans-serif;
  font-size: 14vw;
  letter-spacing: .5rem;
  text-align: center;
}

p {
  margin: 0;
  font-family: 'Apercu-Mono', monospace;
  font-size: .8rem;
  letter-spacing: .05rem;
}

ul {
  margin: 0;
}

li.navigation {
  margin: 10px;
  padding: 10px 20px;
  color: #fff;
  list-style: none;
  background-color: #000;
}

li > a {
  color: #fff;
  text-decoration: none;
}

.navbarHidden {
  display: none;
}

.navbarVisible {
  width: 30vw;
  height: 100vh;
  background-color: #ffdd3e;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gdprVisible {
  color: #fff;
  text-align: center;
  background-color: #000;
  width: 100vw;
  height: 20vh;
  position: fixed;
  z-index: 1;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.gdprVisible > p {
  width: 70vw;
  line-height: 1.2rem;
}

.gdprHidden {
  display: none;
}

.closeIcon {
  top: 15px;
  right: 20px;
  position: fixed;
  height: 25px;
  -webkit-filter: invert(100%);
        filter: invert(100%);
  cursor: pointer;
}

::selection {
  background: #ffdd3e;
}