.adminHeader {
  margin: 10px 0 0 10px;
  font-family: 'Circular-Black', sans-serif;
  font-size: 1rem;
  color: #25252f;
}

.adminWrapper {
  margin: 30px 0 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bookingHeader {
  margin: 20px 0 0 0;
  font-family: 'Circular-Black', sans-serif;
}

.adminWrapper > h2:nth-child(3) {
  margin-top: 40px;
}

.bookingHeading {
  display: none;
}

.booking {
  padding-left: 0;
  font-family: 'Apercu-Mono', Courier, monospace;
  font-size: .8rem;
}

.booking > li {
  height: 25px;
  letter-spacing: .05rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 100px 200px;
}

.booking > li:nth-child(7) {
  justify-content: center;
}

.booking > li > input,
.booking > li > select {
  padding: 5px 0;
  font-family: 'Apercu-Mono', Courier, monospace;
  font-size: .8rem;
  color: #1040E2;
  letter-spacing: .05rem;
  background-color: transparent;
  border: 0;
}

.booking > li > select {
  margin-top: 0px;
  margin-left: -8px;
}

.booking > li > span {
  max-width: 25ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noBookings {
  margin: 40px 0 0 0;
}

#update_date,
#update_phone {
  width: 140px;
}

#update_guests {
  width: 30px;
}

#update_name,
#update_email {
  width: 220px;
}

.adminIcon {
  height: 20px;
  cursor: pointer;
}

.adminIcon:nth-child(1) {
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .bookingHeader {
    display: none;
  }

  .bookingHeading,
  .booking {
    padding-left: 0;
    margin: 0;
    letter-spacing: .05rem;
    display: grid;
    grid-template-columns: 95px 55px 80px 150px 150px 130px 70px;
  }

  .bookingHeading {
    margin-top: 40px;
    font-family: 'Circular-Black', sans-serif;
  }

  .bookingHeading > strong {
    display: block;
  }

  .deviceHeading {
    display: none;
  }

  .booking > li {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #f0f0f0;    
  }

  .booking > li:nth-child(2) {
    padding-left: 18px;
  }

  .booking > li > select {
    margin-top: 2px;
    margin-left: -8px;
  }

  .booking > li > span {
    max-width: 18ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 930px) {
  .bookingHeading,
  .booking {
    grid-template-columns: 120px 70px 90px 200px 200px 130px 100px;
  }
  
  .bookingHeading > strong:nth-child(7) {
    text-align: center;
  }

  .booking > li > span {
    max-width: 23ch;
  }
}