#homeHeader {
  margin: 0;
  font-family: 'Circular-Black', sans-serif;
  font-size: 5rem;
  color: #25252f;
  letter-spacing: .5rem;
  text-align: center;
  background: url(../images/stroke-zigzag-black.svg) bottom repeat-x;
  background-size: auto .5rem;
}

.smallHeader,
.tinyHeader {
  margin: 0;
  font-family: 'Circular-Black', sans-serif;
  font-size: 3rem;
  color: #25252f;
  letter-spacing: .5rem;
  background: url(../images/stroke-zigzag-black.svg) bottom repeat-x;
  background-size: auto .5rem;
}

.tinyHeader {
  margin: 0 0 5px 0;
  font-size: 2rem;
  letter-spacing: .2rem;
  background: none;
}

p {
  font-family: 'Apercu-Mono', monospace;
  font-size: .8rem;
  color: #25252f;
  line-height: 1.2rem;
  letter-spacing: .05rem;
}

.homeWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
}

.mainWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.rightContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rightContent > p {
  margin: 5px 0;
}

::selection {
  background: #ffdd3e;
}

@media screen and (min-width: 747px) {
  #homeHeader {
    font-size: 14vw;
    background: url(../images/stroke-zigzag-black.svg) bottom repeat-x;
    background-size: auto .75rem;
  }

  .smallHeader {
    font-size: 4rem;
    background: url(../images/stroke-zigzag-black.svg) bottom repeat-x;
  }
}

@media screen and (min-width: 820px) {
  .rightContent {
    width: 60%;
  }
}