.modal {
  margin: 0 2em;
  padding: 4em;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
}

.modal > p {
  line-height: 1.9em;
}

.modalOverlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}