.modal {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 20vh;
  right: 10vw;
  left: 10vw;
  padding: 4em;
  background-color: white;
  border-radius: 4px;
}

.modal>p{
  line-height: 1.9em;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5);
}

@media screen and (min-width: 900px) {
  .modal {
    right: 40vh;
    left: 40vh;
  }
}
